/*
 * Empty Stylesheet file.
 */

.primary-theme
{
    -fx-background-color:  #2D3138;
}

.secondary-theme
{
    -fx-background-color: #222831;
}

.text-design-primary
{
    -fx-text-fill: #6191E5;
}

.text-design-secondary
{
    -fx-text-fill: #6191E5;
    -fx-background-color: #222831;
}

.buttons 
{
    -fx-cursor: hand;
}

.button 
{
    -fx-cursor: hand;
    -fx-background-color: #222831;
    -fx-background-radius: 20;
    -fx-text-fill: #6191E5;
}
.button:hover 
{
    -fx-background-color: black;
    -fx-text-fill: white;
}
.button:disabled 
{
    -fx-background-color: #b991b7;
}

.elements
{
    -fx-cursor: text;
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-text-fill: black;
}